.custom-tab-bar {
  background-color: white;
  box-shadow: 0px -3px 22px -6px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.custom-tab-bar > ion-tab-button.tab-selected {
  color: #4b727a !important;
}
.custom-tab-bar ion-tab-button {
  color: #aeaeb2 !important;
  --ripple-color: #4b727a;
  --color-selected: #4b727a;
}

.custom-header {
  background: transparent;
  --ion-color-base: #fcfdff !important;
  --border-width: 0 !important;
}

.custom-toolbar {
  --background: #4b727a !important;
  --border-width: 0 !important;
  border-radius: 0 0 25px 25px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.--bg-transparent {
  --background: #7d9ea4;
  --border-width: 0 !important;
}

.--bg-primary {
  --background: #4b727a;
  --border-width: 0 !important;
}

.--bg-secondary {
  --background: #196b79;
  --border-width: 0 !important;
}

.--bg-white {
  --background: #ffffff;
  --border-width: 0 !important;
}

ion-content {
  --background: #fcfdff;
}

.landing {
  background-image: url("../public/assets/img/OnlineHackathonMountain-removebg-preview.png");
  background-repeat: no-repeat;
}

.toolbar-footer {
  box-shadow: 0px -1px 25px rgba(0, 0, 0, 0.1);
}

ion-modal.custom-sheet-modal::part(content) {
  border-radius: 20px 20px 0 0;
}

ion-modal.--short-modal::part(content) {
  height: 70%;
  top: 30%;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.verification-input > div {
  display: flex;
  justify-content: center;
}

.verification-input > div > input {
  font-family: "Rubik";
  border: none !important;
  border-bottom: 2px solid grey !important;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #ffffff00;
  border-radius: 0 !important;
}

ion-radio {
  --color-checked: #4b727a;
}

ion-modal.alert-modal {
  /* --width: fit-content; */
  --width: 300px;
  --height: fit-content;
  --border-radius: 10px;
  /* --box-shadow: 0 28px 48px rgba(255,170,170, 0.4); */
}

ion-modal.alert-modal::part(content) {
  padding: 10px 10px 20px 10px;
  overflow: visible;
}

ion-modal.single-page {
  /* --width: fit-content; */
  --width: 92%;
  --height: fit-content;
  --border-radius: 10px;
  /* --box-shadow: 0 28px 48px rgba(255,170,170, 0.4); */
}

ion-modal.single-page::part(content) {
  padding: 10px 0px 0px 0px;
  overflow: visible;
}

ion-modal.onboard::part(content) {
  --background: transparent;
}

input {
  width: full;
}
